DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_SECRET_KEY=change-me-generate-a-new-secret-key
DJANGO_STATIC_ROOT=/var/www/speech_analytics/static
DJANGO_ALLOWED_HOSTS=yourdomain.com
LOGGING_LEVEL=WARNING
REDIS_URL=unix://var/run/redis/redis-server.sock
DB_HOST=/var/run/postgresql
DB_PASSWORD=
DB_NAME=speech
DB_USER=your-db-user
DB_PORT=
SENTRY_DSN=https://aXXXXXXXXXXXX6f9XXXXXXXXXX8.ingest.us.sentry.io/4XXXXXXXX
SENTRY_ENVIRONMENT=production
SENTRY_RELEASE=1.0.0
DJANGO_MEDIA_ROOT_IS_MOUNTED=True
DJANGO_MEDIA_ROOT=/var/www/speech_analytics/media
CELERY_BROKER_URL=redis+socket:///var/run/redis/redis-server.sock?virtual_host=2
AWS_ACCESS_KEY_ID=XXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXX
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=us-east-2
AWS_TRANSCRIBE_LANGUAGE_CODE=es-ES
ELASTICSEARCH_HOSTS=http://127.0.0.1:9200
ELASTICSEARCH_USER=django_user
ELASTICSEARCH_PASSWORD=mXXXXXXXXXXXX
LOCALAI_CUDA_QUEUE=local_cuda
LOCALAI_CPU_QUEUE=local_cpu
FLOWER_USER=admin
FLOWER_PASSWORD=your-flower-password
