DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-generate-a-new-secret-key
DJANGO_STATIC_ROOT=/tmp/static
DJANGO_ALLOWED_HOSTS=*
LOGGING_LEVEL=WARNING
REDIS_URL=redis://127.0.0.1:6379/4
DB_HOST=localhost
DB_PASSWORD=your-db-password
DB_NAME=unicornio
DB_USER=postgres
DB_PORT=15432
SENTRY_DSN=XXXX
SENTRY_ENVIRONMENT=develop
SENTRY_RELEASE=0.1.0
DJANGO_MEDIA_ROOT=/tmp/zstorage
DJANGO_MEDIA_ROOT_IS_MOUNTED=False
# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_S3_REGION_NAME=us-east-1
AWS_TRANSCRIBE_LANGUAGE_CODE=es-ES

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/6

ELASTICSEARCH_HOSTS=http://127.0.0.1:9200

# Maybe needed
LD_LIBRARY_PATH=/path/to/your/venv/lib/python3.13/site-packages/nvidia/cublas/lib:/path/to/your/venv/lib/python3.13/site-packages/nvidia/cudnn/lib

HF_TOKEN=your-huggingface-token

LOCALAI_CUDA_QUEUE=local_cuda
LOCALAI_CPU_QUEUE=local_cpu
