{% extends "maintenance/base/list.html" %}

{% block before-table %}
  <form id="hidden-export-form" class="d-none"></form>
{% endblock before-table %}

{% block list-actions %}
  {% if object.has_related_model %}
    {% include "maintenance/components/buttons.html#related-hide" %}
    {% include "maintenance/components/buttons.html#related-show" %}
  {% endif %}
  {% if user_can.edit %}
    {% include "maintenance/components/buttons.html#edit" %}
  {% else %}
    {% include "maintenance/components/buttons.html#read" %}
  {% endif %}
  {% if user_can.delete %}
    {% include "maintenance/components/buttons.html#delete" %}
  {% endif %}
  {% if user_can.history %}
    {% include "maintenance/components/buttons.html#history" %}
  {% endif %}
  {% if user_can.export %}
    {% include "analytics/common/buttons.html#export-individual" %}
  {% endif %}
{% endblock list-actions %}

