{% include "maintenance/forms/non_field_errors.html" %}
<div class="col-md-6 mb-4">{{ form.audios_slow_down_enable.as_field_group }}</div>
<div class="col-md-6 mb-4">{{ form.audios_slow_down_factor.as_field_group }}</div>
<div class="col-md-12 mb-4">{{ form.process_list_refresh.as_field_group }}</div>
<div class="col-md-6 mb-4">{{ form.transcribe_get_results_max_tries.as_field_group }}</div>
<div class="col-md-6 mb-4">{{ form.transcribe_get_results_seconds_between.as_field_group }}</div>
<div class="col-md-6 mb-4">{{ form.localai_mode.as_field_group }}</div>
<div class="col-md-6 mb-4">{{ form.localai_use_cpu.as_field_group }}</div>
<div class="col mb-4">{{ form.comment.as_field_group }}</div>
