<form hx-post="{{ request.path }}" class="modal-content"
      {% if modal_is_import %}hx-encoding="multipart/form-data"{% endif %}>
  <div class="modal-header">
    <h5 class="modal-title">{{ modal_title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row g-1 pt-2">
        {{ form }}
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    {% include "maintenance/components/buttons.html#modal-cancelar" %}
    {% if not modal_readonly %}
      {% include "maintenance/components/buttons.html#modal-enviar" %}
    {% endif %}
  </div>
</form>
