<form hx-post="{{ request.path }}" class="modal-content"
  {% if upload_files %}hx-encoding="multipart/form-data"{% endif %}>
  <div class="modal-header">
    <h5 class="modal-title">{{ modal_title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row g-1 pt-2">
        <div class="col-12 mb-5">
          <div class="accordion" id="accordion-related-import">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-related-import" aria-expanded="false"
                        aria-controls="collapse-related-import">
                  Instrucciones
                </button>
              </h2>
              <div id="collapse-related-import" class="accordion-collapse collapse"
                   data-bs-parent="#accordion-related-import">
                <div class="accordion-body row">
                  <table class="table table-sm border-1 mt-3">
                    <thead class="table-light">
                    <tr>
                      <th>#</th>
                      <th>Sintaxis</th>
                      <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% block excel-columns %}{% endblock excel-columns %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ form }}
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    {% include "maintenance/components/buttons.html#modal-cancelar" %}
    {% if not modal_readonly %}
      {% include "maintenance/components/buttons.html#modal-enviar" %}
    {% endif %}
  </div>
</form>
